#background {
  background-color: #66CDAA;
  //background-image: url('http://images.clipartpanda.com/black-and-white-tree-clipart-9iR4oB4ie.png');
  //background-position: center top;
  height: 100%;
  width: 100%;
  background-position: center;
  color: #F5FFFA;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  background-repeat  : no-repeat
}

.small-12 medium-6 grid-content{
  align: center;
}
