#graph-container {
  background: #FFFFFF;
  width: 46%;
  height: 480px;
  max-width: 800px;
  margin-left: 108px;
  overflow: hidden;
  position: relative;
}

#graph-container * {
  position: fixed;
  top: 0px;
  left: 0px;
}

#leaflet-container {
  float: left;
  background: #ddd;
  width: 46%;
  height: 480px;
  max-width: 800px;
  margin-right: 8px;
  overflow: hidden;
}

