#graph-container {
  float:left;
  background: #ddd;
  width: 46%;
  height: 480px;
  max-width: 800px;
  margin-left: 108px;
  overflow: hidden;
    }

#leaflet-container {
  float: left;
  background: #ddd;
  width: 46%;
  height: 480px;
  max-width: 800px;
  margin-right: 8px;
  overflow: hidden;
}
