<section>
  <h3 class="subheader">{{h3Text}}</h3>
  <form name="userForm" data-ng-submit="sendToServer(user)">
    <p data-ng-if="nameTaken"> Username has been taken. Try another one!</p>
    <p data-ng-if="wrongPassword"> That was not the correct password.</p>

    <div class="row">
      <div class="large-4 columns">
        <label for="signupName">User Name:</label>
        <input required="required" type="text" id="signupName" data-ng-model="user.username">
      </div>

      <div class="large-4 columns">
        <label for="signupPassword">Password:</label>
        <input required="required"  type="password" id="signupPassword" data-ng-model="user.password">
      </div>

      <div class="large-4 columns">
        <label data-ng-if="confirmPassword" for="passwordConfirm">Re-type Password:</label>
        <input data-ng-if="confirmPassword" required="required"  data-ng-if="confirmPassword" type="password" id="passwordConfirm" data-ng-model="user.confirmation">
      </div>
    </div>
    <p data-ng-if="confirmPassword && !passwordMatch(user)"> Passwords do not match!</p>

    <button  class="info button" type="submit" data-ng-disabled="userForm.$invalid || (confirmPassword &&!passwordMatch(user))">{{buttonText}}</button>
  </form>

  <button  class="info button" data-ng-click="changePlaces()">{{changePlacesText}}</button>

</section>

<img src="http://images.clipartpanda.com/black-and-white-tree-clipart-9iR4oB4ie.png">
