<div style="background-color:#8FBC8F;">
  <div>
    <h1>FamilyTree Story Mapper</h1>
  </div>

  <div class="medium-4 columns">
        <div class="profile-card">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYYAAAAJDBmNjRjZTc1LWI3ZjctNDRlNy1hOTEzLTVjNzYxYjI0NmNkZA.jpg" alt="Austin A. King">
          <div class="profile-info">
            <h4 class="subheader">Austin A. King</h4>
            <p>Software Developer</p>
            <p>I'm a software developer with a background in quality assurance. I have a passion to make products that are of the highest standard. And I invest a lot of thought into user experience, including security and accessibility, both of which are pursuits I'm interested in.</p>

            <p>I'm looking for a career that allows for critical thinking. I want to be engaged in my work and believe in the benefits of the product I'm working on.</p>

            <p>I like thinking strategically and adapting to changing conditions, which is why I love playing video games and board games, and Ultimate Frisbee when the season is right.</p>
          </div>
        </div>
      </div>

  <div class="medium-4 columns">
        <div class="profile-card">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKrAAAAJGYzNzgzOWU2LTNiYmQtNGRiZS1hYzY1LTQzOTFiMTNhNjFiNg.jpg" alt="Amanda Day Keogh">
          <div class="profile-info">
            <h4 class="subheader">Amanda Day Keogh</h4>
            <p>Software Developer</p>
            <p>I first encountered programming at the University of Washington, where I fell in love with the challenge of finding the most elegant solution to a problem. After a few years of pursuing it casually (building WordPress sites and managing online marketing tools for my work in a law firm), I decided to pursue an education that would help me to produce great code as my career focus. </p>

            <p>Enter Code Fellows: Intensive, hands-on experience in JavaScript, Node, Express, MongoDB, Angular JS, and HTML/CSS gave me the tools to begin building my own web apps from the ground up, as well as learn new technologies as required. I'm now looking to apply these skills alongside a team. As well as skills in the MEAN stack, I bring a love of strong, eloquent code, and a long history of collaborative work to the table.</p>
          </div>
        </div>
      </div>

  <div class="medium-4 columns">
        <div class="profile-card">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAbpAAAAJDJlNWI5NTg3LTNhOTEtNGI0ZS1hMzMxLWI4YmJkNzkxYTY1ZA.jpg" alt="Matthew Ringel">
          <div class="profile-info">
            <h4 class="subheader">Matthew Ringel</h4>
            <p>Full-Stack JavaScript Developer and GIS Analyst</p>
            <p>Former sailor/scientist turned GIS/JavaScript developer. I love combining my passion for GIS with my skills in full-stack JavaScript development to make beautiful and functional interactive maps. I also have a wealth of experience supervising small technical teams and problem solving in real-world conditions.</p>
          </div>
        </div>
      </div>

    <div class="medium-4 columns">
        <div class="profile-card">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAIoAAAAJDFiZWQ0MmE2LTYxNDgtNDM5ZC1iODhiLTk3MThkNzZjZTMxNA.jpg" alt="Tina Sharma">
          <div class="profile-info">
            <h4 class="subheader">Tina Sharma</h4>
            <p>Full Stack Software Engineer</p>
            <p>Full-stack Software Developer looking for a great opportunity!</p>
          </div>
        </div>
      </div>
</div>
