<form data-ng-controller="FamilyTreeController">
  <label for="newRelativeName">Name:</label>
  <input type="text" id="newRelativeName" data-ng-model="newRelative.name"></input>

  <label for="newRelativeBirth">Date of Birth:</label>
  <input type="text" id="newRelativeBirth" data-ng-model="newRelative.birthDate"></input>

  <label for="newRelativeDeath">Date of Death:</label>
  <input type="text" id="newRelativeDeath" data-ng-model="newRelative.deathDate"></input>

  <label for="newRelativeBirthLoc">Location of Birth:</label>
  <input type="text" id="newRelativeBirthLoc" data-ng-model="newRelative.birthLoc"></input>
  <button data-ng-click="checkBirthGeocode(newRelative.birthLoc)">Find this location!</button>

  <label for="newRelativeDeathLoc">Location of Death:</label>
  <input type="text" id="newRelativeDeathLoc" data-ng-model="newRelative.deathLoc"></input>
  <button data-ng-click="checkDeathGeocode(newRelative.deathLoc)">Find this location!</button>

  <div data-list-directive data-title="geoCodeResults">
    <li data-ng-repeat="location in geoCodeResults.results[0].locations">
      {{location.adminArea5Type}}: {{location.adminArea5}},
      {{location.adminArea4Type}}: {{location.adminArea4}},
      {{location.adminArea3Type}}: {{location.adminArea3}},
      {{location.adminArea1Type}}: {{location.adminArea1}}
      <img src="{{location.mapUrl}}" alt="thumbmap" />
    </li>

  <button type="submit">Add Relative!</button>
</form>


<!-- name

data-ng-submit="addRelative()"

birthDate: Date
deathDate: Date

birthLoc: {placeName: String, location: [lat,long]}
deathLoc: {placeName: String, location: [lat,long]}

children: []
parents: [] -->
