<form data-ng-submit="save({relative: relative})">
  <!-- <div class="row"> -->
      <div class="large-4 columns">
        <label for="relativeName">Name:</label>
        <input type="text" id="relativeName" data-ng-model="relative.name" required></input>
      </div>
  <!-- </div> -->
  <div class="row">
      <div class="large-4 columns">
        <label for="relativeBirth">Date of Birth:</label>
        <input type="date" id="relativeBirth" data-ng-model="relative.birthDate" required></input>
      </div>

      <div class="large-4 columns">
        <label for="relativeBirthLoc">Location of Birth:</label>
        <input type="text" id="relativeBirthLoc" data-ng-model="relative.birthLoc" required></input>
        <button type="button" data-ng-click="checkBirthGeocode({location: relative.birthLoc})">Find this location!</button>
        <label for="birthCoords">Birth Coordinates</label>
        <input type="text" id="birthCoords" data-ng-model="relative.birthCoords" required></input>
      </div>
    </div>
  <div class="row">
      <div class="large-4 columns">
        <label for="relativeDeath">Date of Death:</label>
        <input type="date" id="relativeDeath" data-ng-model="relative.deathDate"></input>
      </div>
      <div class="large-4 columns">
        <label for="relativeDeathLoc">Location of Death:</label>
        <input type="text" id="relativeDeathLoc" data-ng-model="relative.deathLoc"></input>
        <button type="button" data-ng-click="checkDeathGeocode({location: relative.deathLoc})">Find this location!</button>
        <label for="deathCoords">Death Coordinates</label>
        <input type="text" id="deathCoords" data-ng-model="relative.deathCoords"></input>
      </div>
    </div>
  <div class="row">
      <div class="large-4 columns">
        <div data-list-directive data-title="geoCodeResults">
          <li data-ng-repeat="location in geoCodeResults.results[0].locations">
            {{location.adminArea5Type}}: {{location.adminArea5}},
            {{location.adminArea4Type}}: {{location.adminArea4}},
            {{location.adminArea3Type}}: {{location.adminArea3}},
            {{location.adminArea1Type}}: {{location.adminArea1}}
            <img src="{{location.mapUrl}}" alt="thumbmap" />
          </li>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <label for="parent1">Parent 1:</label>
        <select id="parent1" data-ng-model="relative.parent1" data-ng-options="relative.name for relative in familyMembers"></select>
      </div>
      <div class="large-4 columns">
        <label for="parent2">Parent 2:</label>
        <select id="parent2" data-ng-model="relative.parent2" data-ng-options="relative.name for relative in familyMembers">Parent 2</select>
      </div>
      <div class="large-4 columns">
        <label for="child">Child:</label>
        <select id="child" data-ng-model="relative.child" data-ng-options="relative.name for relative in familyMembers">Child</select>
      </div>
    </div>
    <button type="submit">{{buttonText}}</button>
    <ng-transclude></ng-transclude>
</form>
